.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 30px 10px;
  background-color: #E9ECEF;
  border-radius: 5px;
}

@media screen and (max-width: 950px) {
  .app {
    flex-direction: column;
    padding: 40px 0;
  }
}